@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<div style="text-align: center">
    @if (SignInManager.IsSignedIn(User))
    {
        <h2>Welcome, @User.Identity.Name</h2>
    }
    else
    {
        <h2>Welcome</h2>
        <br />
        <h3>Please Login or Register to continue.</h3>
    }
</div>